@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
body {
  background: rgb(58, 56, 142);
  /*background: linear-gradient(135deg, rgb(0, 170, 170), rgb(0, 110, 110));
  background-image: url(test.png);*/
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

#visualizerTop {
  width: 780px;
  padding: 0 10px 0 10px;
  height: 20px;
  background-color: rgb(160, 160, 160);
  border-radius: 1px 1px 0 0;
  font-size: .9em;
  font-family: 'Source Sans Pro', sans-serif;
}

#visualizer {
  width: 800px;
  height: 320px;
  margin-left: 10px;
  margin-top: 10px;
  /* Shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#canvas {
  width: 800px;
  height: 300px;
  background-color: black;
}

/* Styling input button */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: .8em;
  background-color: rgb(225, 225, 225);
  display: inline-block;
  padding: 2px 10px 2px 10px;
  margin-top: 4px;
  margin-left: 4px;
  float: left;
}

.inputfile:focus+label, .inputfile+label:hover {
  background-color: rgb(192, 192, 192);
}

.inputfile+label {
  cursor: pointer;
}

/* Audio player styling */
#audioPlayer {
  width: 800px;
  height: 30px;
  border-radius: 0 0 1px 1px;
  background-color: rgb(160, 160, 160);
  /* Shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#playButton {
  height: 22px;
  border: none;
  float: left;
  outline: none;
  margin-top: 4px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(225, 225, 225);
}

#playButton:hover {
  background-color: rgb(192, 192, 192);
}

.inputfile:focus+label, .inputfile+label:hover {
  background-color: rgb(192, 192, 192);
}

#pauseIcon {
  display: none;
}

#timeline {
  width: 527px;
  height: 10px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  background: rgb(225, 225, 225);
}

#time {
  margin-left: 10px;
  margin-top: 5px;
  font-size: .9em;
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  width: 80px;
  text-align: center;
}

#seeker {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  cursor: pointer;
}

/* Settings */
#settingsBar {
  background-color: rgb(160, 160, 160);
  height: 20px;
  margin-top: 10px;
  width: 280px;
  padding: 0 10px 0 10px;
  margin-left: 10px;
  font-size: .9em;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 1px 1px 0 0;
  /* Shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#settingsBar+label {
  margin-left: 10px;
}

#settings {
  background-color: rgb(192, 192, 192);
  padding: 8px 10px 8px 10px;
  width: 280px;
  margin-left: 10px;
  border-radius: 0 0 1px 1px;
  /* Shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#settings input {
  margin-left: 20px;
  margin-right: 20px;
}

#settings table {
  font-size: .7em;
  margin: 1px;
}

#selectBarColor, #selectBGColor {
  width: 78%;
  background-color: rgb(225, 225, 225);
  cursor: pointer;
  max-width: 126px; /* For Firefox compatability */
}

#selectBarColor:hover, #selectBGColor:hover {
  background-color: rgb(192, 192, 192);
}
td:nth-child(2) {
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  height: 10px;
  background: rgb(225, 225, 225);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 5px;
  max-width: 126px; /* For Firefox compatability */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 0px;
  border: none;
}

/* For Firefox compatability */
.slider::-moz-range-track {
  -webkit-appearance: none;
  height: 10px;
  background: rgb(225, 225, 225);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 5px;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 0px;
  border: none;
}

#seeker:hover, .slider::-webkit-slider-thumb:hover {
    background-color: rgb(70, 70, 70);
}

.slider::-moz-range-thumb:hover {
    background-color: rgb(70, 70, 70);
}

#footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgb(192, 192, 192);
  border-radius: 1px 1px 0 0;
  /* Shadow */
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2),
              0 6px 20px 3px rgba(0, 0, 0, 0.2);
}

#startFooter {
  height: 28px;
  width: 30px;
  background-color: rgb(192, 192, 192);
  padding: 2px 10px 2px 10px;
  text-align: center;
}

#startFooter:hover {
  background-color: rgb(170, 170, 170);
}

.fa-circle-notch {
  max-height: 25px;
  max-width: 25px;
}
